body{
    background-color: hsl(216, 12%, 8%);
    color: white;
    font-family: 'Overpass', sans-serif;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section{
    background-color: hsl(213, 19%, 18%);
    padding: 15px;
}

header{
    padding: 0 15px 0 15px;
}

p{
    color: hsl(217, 12%, 63%);
}

button{
    border: none;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
}

button:hover{
    color: hsl(216, 12%, 8%);
    cursor: pointer;
}

svg{
    margin-left: 15px;
}

#selected{
    background-color: hsl(215, 14%, 34%);
    color: hsl(25, 97%, 53%);
    text-align: center;
    border-radius: 15px;
    width: 60%;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
}

#buttons{
    display: flex;
    justify-content: space-between;
    height: 40px;
}

#one, #two, #three, #four, #five{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#one:enabled, #two:enabled, #three:enabled, #four:enabled, #five:enabled{
    background-color: hsl(215, 14%, 34%);
    color: hsl(217, 12%, 63%);
}

#one:hover, #two:hover, #three:hover, #four:hover, #five:hover{
    background-color: hsl(25, 97%, 53%);
    color: hsl(216, 12%, 8%);
}

#one:disabled, #two:disabled, #three:disabled, #four:disabled, #five:disabled{
    background-color: hsl(0, 100%, 100%);
    color: hsl(216, 12%, 8%);
}

#submit{
    background-color: hsl(25, 97%, 53%);
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 50px;
    width: 90%;
    height: 45px;
    display: block;
    margin: auto;
}

#submit:hover{
    background-color: hsl(0, 100%, 100%);
}

#errorMessage{
    margin: 0;
    text-align: center;
    color: hsl(25, 97%, 53%);
}

#rateState{
    display: block;
}

#thankYouState{
    display: none;
    text-align: center;
}

#rateState, #thankYouState{
    border-radius: 15px;
    width: 20em;
    padding: 20px;
}

@media (min-width: 70em){
    #rateState, #thankYouState{
        border-radius: 25px;
        width: 21em;
    }

    #submit{
        height: 40px;
    }
}